form{
    display:flex;
    flex-direction: row;
    background-color: azure;
    margin: 50px auto;
    width: fit-content;
    padding: 10px;
    border: 1px solid black
}

input[type=submit]{
   
   cursor:pointer;
   background-color: rgb(17, 194, 46);;
   margin: auto 20px;
}
label{
    margin-right: 20px;
}
section{
    text-align: center;
    background-color: rgb(241, 137, 129);
    border: 1px solid black;
    padding: 10px;
    display: none;
}
section li{
    list-style: none;
}